 <div class="user-details">
  <h1> My Tech Proficiencies </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Back-end</h2>
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mysql/mysql-original-wordmark.svg" width="75" height="75"/>
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/neo4j/neo4j-original.svg" width="75" height="75"/>
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mongodb/mongodb-original-wordmark.svg" width="75" height="75"/>
      <img src="https://icongr.am/devicon/redis-original-wordmark.svg" width="75" height="75"/>
      <p>Skilled in SQL and NoSQL programming languages for seamless back-end implementation. And of course, #neverforgettohashthepassword. It's all about keeping things secure!</p>
    </div>
    <div class="tech">
      <h2>Software impl.</h2>
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/java/java-original-wordmark.svg" width="75" height="75"/>
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/cplusplus/cplusplus-original.svg"  width="75" height="75"/> 
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original-wordmark.svg" width="75" height="75" />
      <img src="https://icongr.am/devicon/php-original.svg" width="75" height="75" />
      <p>Proficient in C/C++, Java, and Python and, with a strong command over various programming languages. The best programming language? Well, that ultimately depends on the specific requirements of the project at hand. But I'm always excited to explore and learn new languages and technologies.</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-original-wordmark.svg" width="75" height="75" />
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linux/linux-original.svg" width="75" height="75" />
      <img src="https://icongr.am/devicon/docker-original.svg" width="75" height="75" />
      <img src="https://icongr.am/devicon/tomcat-original-wordmark.svg" width="75" height="75" />
      <p>Constantly uncovering new Linux CLI hacks, harnessing the power of Git on a daily basis, and passionately contributing to projects on both GitHub and GitLab. Adept at navigating Spring Boot, Thymeleaf and Doker, with hands-on experience to back it up.</p>
    </div>
</div>
