 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Back-end</h2>
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mysql/mysql-original-wordmark.svg" width="75" height="75"/>
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/neo4j/neo4j-original.svg" width="75" height="75"/>
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mongodb/mongodb-original-wordmark.svg" width="75" height="75"/>
      <p>Experience in both SQL and NoSQL programming languages for back-end implementation. Always remember #neverforgettohashthepassword.</p>
    </div>
    <div class="tech">
      <h2>Software impl.</h2>
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/java/java-original-wordmark.svg" width="75" height="75"/>
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/cplusplus/cplusplus-original.svg"  width="75" height="75"/> 
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original-wordmark.svg" width="75" height="75" />
      <p>Knowledgeable in C/C++, Java, and Python. The best programming language? It depends on the project's requirements. I'm more than welcome to learn something new.</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-original-wordmark.svg" width="75" height="75" />
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linux/linux-original.svg" width="75" height="75" />
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/spring/spring-plain-wordmark.svg" width="75" height="75" />
      <p>Always learning new tricks with the Linux CLI, daily use of Git, active on both GitHub and GitLab. Some experience with Spring Boot and Thymeleaf.</p>
    </div>
</div>
