<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/review.png" | prepend: site.baseurl }}"  width="350" height="350"/>
  </div>
  <div class="contents">
    <h3> RottenMovies </h3>
    <ul>
      <li> Java </li>
      <li> Spring boot/Thymeleaf </li>
      <li> MongoDb/Neo4j </li>
    </ul>
    <p>RottenMovies è un sito per recensire film fortemente ispirato a Rotten Tomatoes, gli utenti possono valutare e recensire vari film, la user-base si divide in critics e top critics, i primi possono seguire quest'ultimi per rimanere aggiornati sul loro pensiero.</p>
    <a class="project-link" href="https://gitlab.com/fp99/rottenmovies">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/epidemic.png" | prepend: site.baseurl }}"  width="350" height="350" />
  </div>
  <div class="contents-right">
    <h3> Epidemic Broadcast </h3>
    <ul>
      <li> C++ </li>
      <li> Omnetpp</li>
      <li> Excel</li>
    </ul>
    <p>Epidemic Broadcast è una simulazione di una epidemia implementata tramite C++ in Omnetpp. La simulazione è modellata tramite un nectwork di nodi con connessioni P2P fra loro. Ogni nodo ha una probabilità di inviare un "messagio di infezione" ai suoi vicini. Lo scopo è quello di trovare la configurazione che massimizza la diffusione dell'epidemia</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/text-message-icon.png" | prepend: site.baseurl }}"  width="350" height="350"/>
  </div>
  <div class="contents">
    <h3> MessagincAppC </h3>
    <ul>
      <li> C </li>
      <li> Linux file system </li>
    </ul>
    <p>MessagincAppC è un progetto dove viene implementata una app di messaggistica tramite socket C. Un server centrale fa da tramite per permettere la comunicazione degli utenti e tiene aggiorna il loro stato per informare eventuali nuovi contatti. Gli utenti possono scambiarsi messaggi, trasferire file e organizzare chat di gruppo.</p>
    <a class="project-link" href="https://github.com/Albran99/MessagingAppC">Check it out</a>
  </div>
</div>