<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="review" src="{{ "/assets/img/review.png" | prepend: site.baseurl }}"  width="350" height="350"/>
  </div>
  <div class="contents">
    <h3> RottenMovies </h3>
    <ul>
      <li> Java </li>
      <li> Spring boot/Thymeleaf </li>
      <li> MongoDb/Neo4j </li>
    </ul>
    <p>RottenMovies is an online platform dedicated to film reviews, drawing inspiration from the renowned Rotten Tomatoes. The users have the opportunity to rate and review a wide range of movies, with the user base divided into two categories: critics and top critics. Critics have the option to follow top critics, ensuring they stay up-to-date with their latest opinions and insights.</p>
    <a class="project-link" href="https://gitlab.com/fp99/rottenmovies">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="epidemic" src="{{ "/assets/img/epidemic.png" | prepend: site.baseurl }}"  width="350" height="350" />
  </div>
  <div class="contents-right">
    <h3> Epidemic Broadcast </h3>
    <ul>
      <li> C++ </li>
      <li> Omnetpp</li>
      <li> Excel</li>
    </ul>
    <p>Epidemic Broadcast is an epidemic simulation built using C++ in Omnetpp. The simulation represents a network of interconnected nodes, where each node has peer-to-peer connections. Within this network, each node has a probability of transmitting an "infection message" to its neighboring nodes. The objective of the simulation is to identify the optimal configuration that maximizes the spread of the epidemic.</p>
    <a class="project-link" href="https://github.com/Albran99/EpidemicBroadcast">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="messages" src="{{ "/assets/img/text-message-icon.png" | prepend: site.baseurl }}"  width="350" height="350"/>
  </div>
  <div class="contents">
    <h3> MessagincAppC </h3>
    <ul>
      <li> C </li>
      <li> Linux file system </li>
    </ul>
    <p>MessagingAppC is a project that involves implementing a messaging app using C sockets. The architecture consists of a central server that serves as a mediator, facilitating user communication and updating their status to notify them of any new contacts. Users can exchange messages, transfer files, and create group chats within the app.</p>
    <a class="project-link" href="https://github.com/Albran99/MessagingAppC">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="sorting" src="{{ "/assets/img/sorting.png" | prepend: site.baseurl }}"  width="350" height="350"/>
  </div>
  <div class="contents-right">
    <h3> Bitonic Sort </h3>
    <ul>
      <li> C++</li>
      <li> Cuda </li>
      <li> uProf/Nsight </li>
    </ul>
    <p>BitonicSort is a study of the bitonic sort algorithm and focuses on enhancing its performance on specific hardware. The project analyzes how the utilization of multithreading and GPU accelerators can bring a significant speedup, resulting in the ability to sort an array of 2Gb in less than 15 seconds specifically on an Nvidia Tesla T4.</p>
    <a class="project-link" href="https://github.com/Albran99/BitonicSort">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="SecureBank" src="{{ "/assets/img/SecureBank.png" | prepend: site.baseurl }}"  width="350" height="350" />
  </div>
  <div class="contents-right">
    <h3> SecureBank </h3>
    <ul>
      <li> C++ </li>
      <li> OpenSSL</li>
    </ul>
    <p>SecureBank is an application designed to implement transfer of messages and data between a client and a server bank in a secure way. The protocol designed is resistent to replay attack and subquantum passive one. For simplicity purposes it is assumed that both parties already know the other's public key</p>
    <a class="project-link" href="https://github.com/Albran99/EpidemicBroadcast">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="Malware" src="{{ "/assets/img/Malware.png" | prepend: site.baseurl }}"  width="350" height="350" />
  </div>
  <div class="contents-right">
    <h3> Malware analysis </h3>
    <ul>
      <li> Java </li>
      <li> ApkTool</li>
      <li> VirusTotal / MobSF</li>
    </ul>
    <p>In this project I was tasked with analyzing two set of malware, the first one is of Iranian origin and it steals sms messages to allegedly steal OTP code, the second one is an adult themed app that tracks the user, subscribe him to paid SMS services and could also act as ransomware. The last one in particular had an extensive use of code obfuscation </p>
    <a class="project-link" href="https://github.com/Albran99/EpidemicBroadcast">Check it out</a>
  </div>
</div>