<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/review.png" | prepend: site.baseurl }}"  width="350" height="350"/>
  </div>
  <div class="contents">
    <h3> RottenMovies </h3>
    <ul>
      <li> Java </li>
      <li> Spring boot/Thymeleaf </li>
      <li> MongoDb/Neo4j </li>
    </ul>
    <p>RottenMovies is a website for reviewing films heavily inspired by Rotten Tomatoes. Users can rate and review various movies, and the user base is divided into critics and top critics. The former can follow the latter to stay updated on their opinions.</p>
    <a class="project-link" href="https://gitlab.com/fp99/rottenmovies">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/epidemic.png" | prepend: site.baseurl }}"  width="350" height="350" />
  </div>
  <div class="contents-right">
    <h3> Epidemic Broadcast </h3>
    <ul>
      <li> C++ </li>
      <li> Omnetpp</li>
      <li> Excel</li>
    </ul>
    <p>Epidemic Broadcast is an epidemic simulation implemented using C++ in Omnetpp. The simulation is modeled as a network of nodes with peer-to-peer connections among them. Each node has a probability of sending an "infection message" to its neighbors. The goal is to find the configuration that maximizes the spread of the epidemic.</p>
    <a class="project-link" href="https://github.com/Albran99/EpidemicBroadcast">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/text-message-icon.png" | prepend: site.baseurl }}"  width="350" height="350"/>
  </div>
  <div class="contents">
    <h3> MessagincAppC </h3>
    <ul>
      <li> C </li>
      <li> Linux file system </li>
    </ul>
    <p>MessagingAppC is a project where a messaging app is implemented using C sockets. A central server acts as an intermediary to enable user communication and keeps their status updated to inform about any new contacts. Users can exchange messages, transfer files, and organize group chats.</p>
    <a class="project-link" href="https://github.com/Albran99/MessagingAppC">Check it out</a>
  </div>
</div>